@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button id="b1">Click Here</button>
    <div id = "holder"></div>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
